body {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #171717; /* 배경색 */
  margin: 0;
  overflow: hidden; /* 페이지 오버플로우 숨기기 */
}

.container {
  position: relative;
  text-align: center; /* 아이콘을 중앙에 정렬 */
  animation: fadeIn 1s ease forwards; /* 1초 동안 페이드 인 애니메이션 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(400px); /* 아래에서 위로 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#water-button {
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  outline: none;
  padding: 20px; /* 상하 여백 추가 */
  transition: transform 0.5s ease; /* 마우스 오버 시 확대 효과 */
}

.button-image {
  width: 250px; /* 이미지 너비 */
  height: 250px; /* 이미지 높이 */
  display: block;
  border-radius: 50%; /* 이미지 모서리 둥글게 */
  transition: transform 0.5s ease; /* 클릭 시 확대 효과 */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 기본 그림자 */
}

#water-button:hover {
  transform: scale(1.05); /* 마우스 오버 시 살짝 확대 */
}

#water-button:active .button-image {
  transform: scale(0.95); /* 클릭 시 살짝 축소 */
}

/* 이름 텍스트 스타일 */
.name {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 25%; /* 수직 중앙 정렬 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translate(-50%, -50%); /* 중앙 정렬 조정 */
  color: #62345b; /* 글자 색상 */
  font-size: 50px; /* 글자 크기 */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* 글자 그림자 */
  pointer-events: none; /* 클릭 이벤트 무시 */
}

/* 빛나는 효과 */
.glow {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%; /* 이미지 모서리와 맞춤 */
  background: rgba(255, 255, 255, 0.3); /* 부드러운 흰색 */
  opacity: 0; /* 초기 상태는 보이지 않음 */
  transition: opacity 0.9s ease; /* 부드러운 전환 */
}

#water-button:active .glow {
  opacity: 1; /* 클릭 시 효과 보이기 */
  box-shadow: 0 0 1px rgba(170, 167, 153, 0.582); /* 빛나는 효과 크기 줄임 */
}

#water-button:hover .glow {
  opacity: 0.5; /* 마우스 오버 시 빛나는 효과 */
  box-shadow: 0 0 1px rgba(139, 128, 128, 0.5); /* 빛나는 효과 크기 줄임 */
}

/* 소셜 미디어 아이콘 스타일 */
.social-icons {
  margin-top: 20px; /* 버튼과 아이콘 사이의 간격 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

.social-icons a {
  margin: 0 10px; /* 아이콘 간격 */
  text-decoration: none; /* 밑줄 제거 */
  color: white; /* 아이콘 색상 */
}

.social-icons img {
  width: 40px; /* 아이콘 크기 */
  height: 40px; /* 아이콘 크기 */
  transition: transform 0.2s; /* 마우스 오버 시 애니메이션 */
}

.social-icons img:hover {
  transform: scale(1.1); /* 마우스 오버 시 확대 */
}

/* 슬라이드 효과 */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%; /* 시작 위치 */
  transition: left 0.9s ease; /* 슬라이드 전환 애니메이션 */
}

.slide-active {
  left: 0; /* 현재 위치 */
}
