@import "./reset.css";
@import "./common.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.cdnfonts.com/css/zen-dots");

/* book-planet */
h1 {
  font-family: "Zen Dots", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.book-planet {
  display: flex;
  position: absolute; /*absolute 적용*/
  z-index: 1; /*absolute 적용 */
}
.side {
  min-width: 20%; /*absolute 적용 후 넓어져서 바꿈*/
  padding: 0 40px;
  background-image: url(../images/book/planet/side/default_Side.svg);
  background-size: cover;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}
.side h1 {
  width: 358px;
  height: 214px;
  z-index: 0;
}
.side-bar img {
  margin: 20px 0 0 0;
  width: 135px;
  height: 111px;
}
.side-bar {
  position: fixed;
  z-index: 0;
}

.content-wrapper {
  height: 100%;
}

.content {
  max-width: 75%;
  padding: 50px 35px 0px 65px;
  margin: 0 0 50px 0;
}
.price {
  display: flex;
  justify-content: space-between;
}
.book-price h3 {
  height: 58px;
  margin: 11px 0px 0px 0px;
}
.carousel {
  display: flex;
  background-color: black;
  height: 160px;
  max-width: 1340px;
  margin: 0px 0px 35px 0px;
  z-index: 6;
}
.carouel-prevbtn {
  margin: 0px 0px 0px 40px;
}
.carouel-nextbtn {
  margin: 0px 40px 0px 0px;
}
.carousel button {
  background-color: black;
  border: none;
}
.animation {
  align-content: center;
  overflow: hidden;
  
}
.carouel-animation {
  display: flex;
  margin: 0px 20px 0px 20px;
  transition: transform 0.8s;
}
.carouel-animation button {
  padding: 0px 25px 0px 0px;
}
.carouel-animation button:hover {
  cursor: pointer;
}

@keyframes sizeup {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.sizeup-animation {
  animation: sizeup 0.3s forwards;
}

/* book-form */
.book-form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-form .border {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}

.required {
  border: 1px solid rgb(240, 82, 82);
  border-radius: 5px;
}

.book-form .info-container label {
  display: inline;
  text-wrap: nowrap;
  margin: 0 10px 0 0;
  font-size: 20px;
  font-weight: 500;
}

.book-form .input {
  border: none;
  outline: none;
  font-size: 20px;
}

.book-form .policy {
  width: 100%;
  max-height: 301px;
  display: flex;
  font-size: 20px;
  padding: 13px;
  margin: 10px 0;
  overflow-y: scroll;
}

.customer {
  width: 100%;
}

.customer .title {
  font-size: 24px;
  font-weight: 700;
  margin: 50px 50px 10px 0;
}

.customer .info1 {
  display: flex;
  justify-content: space-between;
}

.customer .info-container {
  min-width: 48%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 12px;
  margin: 0 0 40px 0;
}

.customer .info-container input {
  width: 100%;
}

.customer .certification-btn {
  min-width: 140px;
  height: 32px;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 20px;
}

.customer .certification-btn:hover {
  cursor: pointer;
}

.customer .certification-btn.not-verified {
  background-color: #5b5b5b;
  color: white;
}
.customer .certification-btn.verified {
  background-color: #43b96b;
  color: white;
}

.customer .certification-btn.rejected {
  background-color: #b94343;
  color: white;
}

.book-form .check {
  margin: 0 0 40px 0;
}

.book-form .check input[type="checkbox"] {
  display: none;
}

.book-form .check .checkbox {
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
}

.book-form .check .checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #232323;
}

.book-form .check input[type="checkbox"]:checked + .checkbox::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

.payment {
  width: 100%;
}

.payment .title-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 0 10px 0;
}

.payment .title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 50px 0 0;
}
.payment .info2 {
  display: flex;
  justify-content: space-between;
}

.payment .info-container {
  min-width: 48%;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 13px 12px;
  margin: 0 0 20px 0;
}

.payment .info-container input {
  width: 100%;
}

.book-form .submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.book-form .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 62px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 4px #6b6b6b;
}

.book-form .activated {
  background: -moz-linear-gradient(
    90deg,
    rgba(33, 128, 225, 1) 0%,
    rgba(80, 96, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(33, 128, 225, 1) 0%,
    rgba(80, 96, 241, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(33, 128, 225, 1) 0%,
    rgba(80, 96, 241, 1) 100%
  );
  cursor: pointer;
}

.book-form .disabled {
  background-color: #9c9c9c;
  cursor: not-allowed;
}

/* ticket */
.ticket-section {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  z-index: 10;
}

.ticket-show {
  display: flex;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  opacity: 0.5;
}

.ticket-wrapper {
  position: absolute;
  z-index: 2;
}

.ticket {
  width: 950px;
  min-width: 500px;
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 10px #000000;
  margin: 100px;
  position: relative;
}

.done {
  position: absolute;
  top: -50px;
  left: 0;
  color: white;
  font-size: 48px;
  z-index: 3;
  font-family: "Zen Dots", sans-serif;
}

.exit {
  position: absolute;
  bottom: -30px;
  right: 5px;
  color: white;
  cursor: pointer;
  z-index: 3;
  font-family: "Zen Dots", sans-serif;
}

.ticket-content {
  flex-grow: 1;
  padding: 10px 20px;
}

.ticket .title {
  font-size: 32px;
  font-family: "Zen Dots", sans-serif;
}

.ticket .info {
  margin: 5px 50px 0 0;
}

.ticket .key {
  font-size: 18px;
  font-family: "Zen Dots", sans-serif;
}

.ticket .qr {
  flex-grow: 1;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ticket .qr img {
  width: 100%;
  object-fit: contain;
}

.ticket .cutting-line {
  border-right: 2px dashed rgb(100, 97, 97);
}

.ticket-cut {
  flex-grow: 1;
  position: relative;
  padding: 30px;
  background-color: #000000;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
}

.ticket .logo {
  width: 400px;
  position: absolute;
  top: 100px;
  left: -20px;
  opacity: 0.5;
  transform: rotate(-30deg);
}

/* 푸터 스타일 */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494949;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
}

.footer-txt {
  width: 100%;
}

.footer-logo {
  width: 135px;
  height: 111px;
  margin: 0 20px 0 0;
}
