@import "./reset.css";
@import "./common.css";

html {
  background-image: url(../images/seats/배경화면2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  min-width: 1400px;
}

.header-logo {
  width: 100px;
  height: auto;
  margin: 0 8.5%;
}

/* 왼쪽 버튼 (CONTACT) */
.header-button-left {
  background: linear-gradient(to right, #2180e1, #5060f1); /* 왼쪽에서 오른쪽으로 그라디언트 */
  color: #ffffff; /* 텍스트 색상 흰색 */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.header-button-left:hover {
  background: linear-gradient(to right, #2180e1, #2180e1); /* 호버 시 그라디언트 색상 변경 */
}

/* 오른쪽 버튼 (BOOK NOW) */
.header-button-right {
  background: linear-gradient(to right, #925cee, #6b4bd6); /* 다른 그라디언트 색상 설정 */
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.header-button-right:hover {
  background: linear-gradient(to right, #925cee, #925cee); /* 오른쪽 버튼 호버 시 다른 색상 */
}

/* 예약 */
.tit {
  margin: 95px 0 0;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.spaceship-wrap {
  position: relative;
  margin: 127px 0 201px;
}

.spaceship-wrap .spaceship-map {
  max-width: 1400px;
}

.seat-wrap .seat-list .btn {
  position: absolute;
  bottom: 123px;
  left: 450px;
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.seat-wrap .seat-list:nth-child(2) .btn {
  bottom: 186px;
  left: 596px;
}

.seat-wrap .seat-list:nth-child(3) .btn {
  bottom: 254px;
  left: 754px;
}

.seat-wrap .seat-list:nth-child(4) .btn {
  bottom: 320px;
  left: 900px;
}

.seat-wrap .seat-list:nth-child(5) .btn {
  bottom: 386px;
  left: 334px;
}

.seat-wrap .seat-list:nth-child(6) .btn {
  bottom: 449px;
  left: 485px;
}

.seat-wrap .seat-list:nth-child(7) .btn {
  bottom: 515px;
  left: 632px;
}

.seat-wrap .seat-list:nth-child(8) .btn {
  bottom: 579px;
  left: 779px;
}

.seat-wrap .seat-list .btn.on {
  color: #fff;
  background: #5060f1;
}

.total {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.total-wrap {
  margin: 0 0 213px;
  padding: 68px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.total-wrap .total-txt {
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.total-wrap .btn-wrap {
  display: flex;
  justify-content: center;
  margin: 81px 0 0;
}

.btn-wrap .btn {
  width: 302px;
  height: 62px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #5b5b5b;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-wrap .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 40px;
  text-decoration: none;
  background: -moz-linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
  background: linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
}

/* 푸터 */
#footer-mainlogo {
  height: auto;
  width: 100px;
  margin: 10px;
}

.footer-facebook,
.footer-insta {
  width: 20px;
  height: auto;
}

.footer {
  background-color: rgba(49, 49, 49, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  min-width: 1400px;
  padding: 20px;
}

.footer-txt {
  font-size: 10px;
  line-height: 1.5;
  margin-right: 40%;
}

.footer-follow {
  display: flex;
  flex-direction: column;
}

.footer-follow p {
  margin: 10px 0;
  font-size: 10px;
}

.footer-snslogo {
  display: flex;
  gap: 5px;
  position: relative;
}

/* 텍스트 깜빡이기 */
.tit {
  animation: blinkText 2s infinite;
}

@keyframes blinkText {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
